.spinner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid lightgray;
    border-top-color: cyan;
    animation: spinner 1s linear infinite;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}