* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .box1 {
    width: 100vw;
    height: 100vh;
    padding-top: 2.5vh;
    background-color: aquamarine;
  }
  
  .box2 {
    margin: 0 auto;
    width: 95vw;
    height: 95vh;
    background-color: lightblue;
    padding-top: 10vh;
  }
  
  .box3 {
    margin: 0 auto;
    width: 80vw;
    height: 75vh;
    background-color: pink;
    display: flex;
    flex-direction: column;
  }
  
  .box4 {
    margin: auto auto;
    width: 60vw;
    height: 30vh;
    background-color: purple;
  }